body, html {
    height:100%;
}
body {
    margin:0 0 0 0;
}
.navbar {
    overflow: hidden;
    background-color: rgba(255,255,255,90%);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    cursor: pointer;
}
#currenttab {
    color: rgb(100, 100, 100)
}
.navbar a {
    float: right;
    display: block;
    color: rgb(15,15,15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'arial';
    font-size: 20px;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
/*
.navbar a:hover {
    color: rgb(190,190,190);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
*/
.bgphoto1 {
    /* The image used */
    background-image:url("../img_parallax.jpg");

    /* Full height */
    height:100%;

    /* Create the parallax scrolling effect */
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover; 
}
.bgphoto1box {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
.bgphoto1text {
    background-color: rgba(255, 255, 255, 70%);
    color: #000;
    padding: 18px;
    font-size: 40px;
    font-family: 'georgia';
    letter-spacing: 2px;
}
.bgphoto1small {
    /* The image used */
    background-image:url("../img_parallax.jpg");

    /* Full height */
    height:100px;

    /* Create the parallax scrolling effect */
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover; 
}
footer {
    text-align: center;
    padding: 0px;
}
footer p {
    padding: 20px;
    margin: auto;
}